/*toda a pag*/
* {
    margin: 0;
}
/*toda a pag*/
/*header*/
#header {
    background-color: #000000;
    opacity: 40%;
}
#logo {
    color: #ffffff;
}
#nav_links {
    text-align: end;
    margin-top: -23px;
}
.links {
    text-decoration: none;
    color: #ffffff;
}
#strong_link {
    background-color: rgb(129, 129, 129);
}
/*header*/
/*main*/
/*produtos*/
#div_texto_produto {
    text-align: center;
    background-color: #9C9C9C;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);/*transform vai centralizar a div*/
}

#texto_produto {
    color: #ffffff;
}
#produtos{
    background-color: #D9D9D9;
    position: absolute;
    width: 480px;
    height: 173px;
    left: 50%;
    top: 11.6%;
    transform: translateX(-50%);/*transform vai centralizar a div*/
}
.img_produtos{
    height: 146px;
    width: 118px;
    padding-left: 30px;
    padding-top: 12px;
}
.links_produtos{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: -30px;
    background-color: rgb(0, 0, 0 , 0.6);
    filter: blur(0, 0, 0, 50%);
}
#links_produtos01{
    position: relative;
    left: 30px;
    font-size: 15.1px;
}
#links_produtos02{
    position: relative;
    left: 60px;
    font-size: 15.1px;
}
#links_produtos03{
    position: relative;
    left: 90px;
    font-size: 15.1px;
}



/*produtos*/





/*main*/

/*para o footer:
  text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    */