/*toda a pag*/
* {
    margin: 0;
}

/*toda a pag*/
/*header*/
/*banner*/
#banner {
    width: 100%;
    margin-top: -36px;
    height: 700px;

}

/*banner*/
#header {
    background-color: #000000;
    opacity: 40%;
    color: #ffffff;
}

#logo {
    color: #ffffff;
    opacity: 100%;
}

#nav_links {
    text-align: end;
    margin-top: -23px;
    opacity: 100%;
}

.links {
    text-decoration: none;
    color: #ffffff;
}

.links:hover {
    color: #ff0000;

}

#strong_link {
    background-color: rgb(129, 129, 129);
}

/*header*/

/*main*/
/*produtos*/
#div_texto_produto {
    text-align: center;
    background-color: #9C9C9C;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 93.2%;
    transform: translateX(-50%);
    /*transform vai centralizar a div*/
}

#texto_produto {
    color: #000000;
}

#produtos {
    background-color: #D9D9D9;
    position: absolute;
    width: 480px;
    height: 173px;
    left: 50%;
    top: 96.6%;
    transform: translateX(-50%);
    /*transform vai centralizar a div*/
}

.img_produtos {
    height: 146px;
    width: 118px;
    padding-left: 30px;
    padding-top: 12px;
}

.links_produtos {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    top: -30px;
    background-color: rgb(0, 0, 0, 0.6);
    filter: blur(0, 0, 0, 50%);
}

#links_produtos01 {
    position: relative;
    left: 30px;
    font-size: 15.1px;
}

#links_produtos02 {
    position: relative;
    left: 60px;
    font-size: 15.1px;
}

#links_produtos03 {
    position: relative;
    left: 90px;
    font-size: 15.1px;
}

/*produtos*/

/*sobre nós*/
#div_sobrenos {
    text-align: center;
    background-color: #9C9C9C;
    color: #000000;
    position: absolute;
    width: 200px;
    left: 50.5%;
    top: 149%;
    /*nome evento*/
}

#div_sobrenos_text02 {
    text-align: center;
    background-color: #D9D9D9;
    color: #000000;
    position: absolute;
    left: 46.9%;
    top: 152.4%;
    width: 277px;
    height: 131px;
}

#img_sobrenos {
    height: 150px;
    width: 200px;
    position: absolute;
    top: 149%;
    left: 50%;
    /*isso vai ate a metade da pag*/
    margin-left: -240px;
    /*aqui eu vou adianta sem mecher na porcentagem*/
}

/*sobre nós*/

/*eventos*/
#div_Eventos_cocacola {
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 190%;
    transform: translateX(-50%);
    /*transform vai centralizar a div*/
}

#ul_img_evento {
    position: absolute;
    display: flex;
    margin-top: 40%;
    left: 48.2%;
    transform: translateX(-50%);
}

.img_evento {
    height: 146px;
    width: 118px;
}

/*eventos*/

/*equipe*/

.img_equipe {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#img_ceo {
    position: relative;
    margin-left: 38%;
    margin-top: 60%;
    transform: translate(-50%, -50%);
}

#equipe_ceo {
    background-color: #D9D9D9;
    color: #000000;
    position: relative;
    margin-top: -3%;
    margin-left: 38%;
    transform: translate(-50%, -50%);
    width: 122px;
}

#equipe_ceo02 {
    background-color: #D9D9D9;
    color: #000000;
    position: relative;
    top: 278%;
    left: 37.5%;
    transform: translateX(-28%);
    width: 46px;
}

#div_equipe_ceo {
    background-color: #D9D9D9;
    color: #000000;
    max-width: 330px;
    position: relative;
    margin-left: 43%;
    margin-top: -160px;
    font-size: 12.8px;
}

/*equipe*/
/*main*/

/*footer*/

#footer {
    position: absolute;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    top: 400%;
    height: 229px;
}

#img_logo_footer {
    width: 100px;
    margin-top: 20px;
}

#contato {
    text-align: start;
}

#linker_footer {
    text-align: end;
    margin-top: -110px;
}

#endereco {
    text-align: center;
    margin-top: -2px
}

/*footer*/
/*posisão dos quadro*/

/*posisão dos quadro*/